body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/*  */

.cabecalho_46garage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 5px 30px yellow;
    .logo_cabecalho {
        width: 150px;
        height: 75px;
        cursor: pointer;
    }
    .ul_cabecalho {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        gap: 2rem;
    }
    .li_cabecalho {
        display: flex;
        justify-content: center;
        align-items: center;
        color: yellow;
        background-color: black;
        width: 100px;
        height: 30px;
        cursor: pointer;
        border: solid 1px yellow;
        transition: all 0.2s;
        border-radius: 10px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .links {
        text-decoration: none;
    }
    .li_cabecalho:hover {
        color: rgb(196, 160, 0);
        border: solid 1px rgb(196, 160, 0);
    }
}

/*  */